body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    width: auto;
    padding: 30px 0;
}

.links {
    display: flex;
    gap: 15px;
    padding-right: 400px;
}

a {
    text-decoration: none;
    color: white;
}

.header strong {
    color: white;
    padding-left: 300px;
}

.websiteInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 50px 0;
}

.websiteInfo img {
    padding-right: 400px;
}

.heroText {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 5px;
}



.content .text {
    color: white;
    padding-bottom: 10px;
}

.content {
    max-width: 350px;
    padding-left: 300px;
}

.signup {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border: #3882F6;
    border-radius: 8px;
}

.signup:hover {
    background-color: #1b69e7;
}

.footer {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    background-color: #1f2937;
    justify-content: center;
    color: white;
}